@page
@model MyApp.Namespace.HumanResourceModel
@{
    ViewData["Title"] = "Human Resource";
}

<div class="text-center">
    <h1 class="display-4">Welcome Human Resource Dashboard</h1>
</div>
